.vimeo-wrapper {
  /* Truco para mantener proporción 16:9 perfecta */
  padding-top: 56.25%; 
  position: relative;
  width: 100%;
  max-width: 900px; /* Tamaño máximo para que no se vea gigante en PC */
  margin: 0 auto; /* Centrar el video */
  
  /* Estilo KSA Security (Bordes y Sombra) */
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 40, 85, 0.2);
  border-bottom: 5px solid #fba617; /* El toque amarillo de tu marca */
}

.vimeo-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}